.movie-data-container {
  background-color: #272c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding-top: 100px;
  min-height: 100vh;
}

.banner-container {
  display: flex;
  align-items: center;
  width: 95%;
  background-color: #020b17;
  border-radius: 14px;
}

.about-movie {
  padding: 20px;
  width: 50%;
}

.movie-details {
  display: flex;
  align-items: center;
}

.poster-img {
  width: 150px;
  height: 200px;
  border-radius: 4px;
}

.movie-data {
  padding-left: 10px;
}

.movie-title {
  color: #ffffff;
  font-size: 26px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 10px;
}

.movie-rating {
  color: #7ca9dd;
  font-size: 22px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 10px;
}

.runtime-and-genres {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.runtime {
  color: #f6e9e9;
  font-size: 15px;
  font-weight: 400;
  margin-top: 0px;
  border: 1px solid #393939;
  padding: 3px;
  border-radius: 6px;
  margin-right: 8px;
  margin-bottom: 0px;
}

.genres-list {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  align-items: center;
  margin: 0px;
}

.genre {
  color: #d0e6ff;
  font-size: 15px;
  font-weight: 400;
}

.release-date {
  color: #f6e9e9;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 10px;
}

.overview-heading {
  color: #ffffff;
  font-size: 26px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

.overview {
  color: #edfafd;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 10px;
}

.banner {
  width: 50%;
  height: 400px;
  border-bottom-right-radius: 14px;
  border-top-right-radius: 14px;
}

.cast-container {
  max-width: 97%;
}

.cast-heading {
  color: #fffffff8;
  font-size: 26px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: flex-start;
}

.cast-list {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  overflow: auto;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: black #ffffff00;
}

@media screen and (max-width: 768px) {
  .banner-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .about-movie {
    width: 100%;
  }
  .movie-title {
    font-size: 18px;
  }
  .movie-rating {
    font-size: 14px;
  }
  .runtime-and-genres {
    flex-direction: column;
    align-items: flex-start;
  }
  .runtime {
    font-size: 12px;
  }
  .genres-list {
    margin-top: 10px;
  }
  .genre {
    font-size: 11px;
  }
  .release-date {
    font-size: 14px;
  }
  .overview-heading {
    font-size: 18px;
  }
  .overview {
    font-size: 13px;
  }
  .banner {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 14px;
  }
}
