.movies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  background-color: #282c34;
  padding-top: 100px;
  min-height: 100vh;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  width: 90%;
}

.pagination-container {
  display: flex;
  align-items: center;
  align-self: flex-end;
  padding-right: 120px;
  list-style-type: none;
  padding-left: 0px;
}

.page-number {
  color: #d2d4d2;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
}

.page-control-btn {
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  background: none;
  color: #0099ff;
}

.active {
  color: #0099ff;
}

.disabled-btn {
  color: #282c34;
}

@media screen and (max-width: 768px) {
  .movies-container {
    padding-top: 20px;
  }
}
